html,
body {
  height: 100%;
}

body {
  font-family: courier, courier new, serif;
  font-size: 9pt;
  text-align: center;
  max-width: 1100px;
  height: 95vh;
  margin: 0 auto;
  padding: 10px;
  background: #080929;
  color: #fff;
}

.top-logo {
  margin: 20px 0;
  font-size: 25px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.located-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.text {
  padding: 10px;
  font-size: 12pt;
  overflow-wrap: anywhere;
}

.share-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
}

.word_wrapper {
  margin: 0px;
}

.bordered_wrapper {
  font-size: 12pt;
  padding: 10px;
  margin: 15px 10px;
  font-weight: bold;
}

.bordered_wrapper.bordered {
  border: 1px solid #02e675;
}

.bordered_wrapper img {
  margin: 10px 0px;
  width: 150px;
  height: 150px;
}

.clear-link {
  color: #fff;
  background-color: transparent;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.button {
  border: none;
  color: rgb(0, 0, 0);
  background-color: #02e675;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: courier, courier new, serif;
  font-size: 12pt;
  text-align: center;
  margin: 0 10px;
  font-weight: bold;
}

img {
  height: 40px;
}

.logos {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.reload-button {
  max-height: 40px;
  padding: 0 10px;
  cursor: pointer;
}

.reload-button svg {
  fill: #524fff;
}

.reload-button__small {
  max-height: 18px;
}

.proclamation {
  margin: 15px 0;
}

.button-icon-text {
  padding-right: 10px;
  white-space: nowrap;
}
figure {
  display: flex;
  justify-content: center;
}
audio {
  margin: 25px 0px 0px 0px;
}

.sentence_wrapper {
  text-transform: uppercase;
  margin: 25px 0px;
}

.top-flag {
  margin: 25px 0px;
}

.top-flag img {
  width: 64px;
  height: 42px;
  margin-bottom: 20px;
}
